:host {
  display: block;
  width: 100%;
  height: 100%;
}

.icon-cloud {
  position: relative;
  width: 100%;
  height: 100%;
}

.icon-cloud__canvas {
  width: 100%;
  height: 100%;
  display: block;
}

.icon-cloud__list {
  position: absolute;
  left: -10000px;
  top: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.icon-cloud__list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.icon-cloud__list a {
  text-decoration: none;
}
