
.main {
  height: 100vh;
  width: 100%;
  position: relative;
}

.main__content {
  position: relative;
  z-index: 1;
}

.scroll {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.scroll::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@media (max-width: 900px) {
  .scroll {
    scroll-snap-type: y proximity;
  }
}

