.scroll3d__canvas {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.scroll3d__canvas canvas {
  display: block;
  width: 100%;
  height: 100%;
  background: transparent;
}
